<link rel="stylesheet" type="text/css" href="common/styles/input_select.css" xmlns="http://www.w3.org/1999/html">
<div class="head-path">知识库管理 &gt; 问题管理 &gt; 查看问题</div>
<div class="con-con con-pad">
    <div class="con-lab con-warp clearfix height100">
        <div class="clearfix fl81" style="border-bottom:1px solid #ccc">
            <label class="fl81-left"><span>标题：</span></label>
            <div class="fl81-right ellipsis">{{comProblemDetail.question}}</div>
        </div>
        <div class="clearfix fl81" style="height:calc( 100% - 114px );width: 100%;overflow: auto;">
            <label class="fl81-left"><span>内容：</span></label>
            <div class="fl81-right" id="answer" style="position:relative;overflow:auto"></div>
        </div>
        <div class="dtn-div pos_right" style="margin-bottom: 10px;overflow: visible">
            <button class="button-1ab394 btn btn-default btn-add but_right30" ng-click='close()'>关闭</button>
        </div>
    </div>
</div>
