<link rel="stylesheet" type="text/css" href="common/styles/input_select.css" xmlns="http://www.w3.org/1999/html">
<div class="head-path">
	知识库管理 &gt; 问题管理 &gt; 添加问题
</div>
<div class="con-con con-pad">
    <div class="con-warp">
    	<div class="clearfix">
			<form name='addForm' novalidate>
				<div class="con-lab mgt20  clearfix">
					<label class="fl w161"> <p class="fr">标题</p><span class="fr ast">*</span></label>
                    <div class="con-sel fl ">
                        <input type="text" class="form-control" id='title' name='title' ng-model='comProblem.title' required>
                    </div>
					<div class="error login-validate-error errorIfo" ng-messages="addForm.picName.$error" ng-show="addForm.title.$touched">
						<div ng-message='required'><img src="common/styles/images/error.png" />{{M['comProblem.title.required']}}</div>
					</div>
				</div>
				<div class="con-lab mgt20  clearfix">
					<label class="fl w161"> <p class="fr">内容</p><span class="fr ast">*</span></label>
				</div>
				<div class="dtn-div">
					<button type="submit" class="btn btn-default btn-add fl mgl135" ng-click=''>确认</button>
					<button class="btn btn-default btn-add fl mgl10" ng-click='cancel()'>取消</button>
				</div>
			</form>
        </div>
    </div>
</div>
