<div class="head-path">
	数据统计 &gt; 用户登录统计 &gt; 用户登录各模块统计
</div>
<div class="con-con con-pad">
	<div class="con-warp">
		<div class="clearfix" style="margin:0;">
			<div class="con-lab mgt20  clearfix fl">
				<label class="fl">用户编号:</label>
				<div class="con-sel fl mgl20 dropdown">
					<label class="fl">{{userLoginDetail.userCode}}</label>
				</div>
			</div>
			<div class="con-lab mgt20  clearfix fl">
				<label class="fl">用户名称:</label>
				<div class="con-sel fl mgl20 dropdown">
					<label class="fl">{{userLoginDetail.userName}}</label>
				</div>
			</div>
			<div class="con-lab mgt20  clearfix fl">
				<label class="fl">用户角色:</label>
				<div class="con-sel fl mgl20 dropdown">
					<label class="fl">{{userLoginDetail.roleName}}</label>
				</div>
			</div>
		</div>
		<div class="marker-tabl tab-top-g">
			<i class="fl"></i><p class="fl">用户登录各模块统计详情列表</p>
		</div>
		<div class="grid-wrap">
			<table ng-table="userLoginDetailTable" class="table table-striped " >
				<tr>
					<td data-title="'序号'" class="td1">
						{{$index + 1}}
					</td>
					<td data-title="'登录时间'" class="td2">
						{{userLoginDetail.loginDate}}
					</td>
					<td data-title="'工作管理'" class="td1">
						{{userLoginDetailList.a}}次
					</td>
					<td data-title="'工作提醒'" class="td1">
						{{userLoginDetailList.b}}次
					</td>
					<td data-title="'客户管理'" class="td1">
						{{userLoginDetailList.c}}次
					</td>
					<td data-title="'产品在线'" class="td1">
						{{userLoginDetailList.d}}次
					</td>
					<td data-title="'业绩分析'" class="td1">
						{{userLoginDetailList.e}}次
					</td>
					<td data-title="'公司动态'" class="td1">
						{{userLoginDetailList.f}}次
					</td>
					<td data-title="'投资预约'" class="td1">
						{{userLoginDetailList.g}}次
					</td>
					<td data-title="'创新预约'" class="td1">
						{{userLoginDetailList.l}}次
					</td>
					<td data-title="'客户评级'" class="td1">
						{{userLoginDetailList.h}}次
					</td>
					<td data-title="'客户归属'" class="td1">
						{{userLoginDetailList.i}}次
					</td>
					<td data-title="'会员服务'" class="td1">
						{{userLoginDetailList.m}}次
					</td>
					<td data-title="'我的账户'" class="td1">
						{{userLoginDetailList.j}}次
					</td>
				</tr>
			</table>
		</div>
		<div class="dtn-div pos_right">
			<button class="button-1ab394 btn btn-default btn-add fl sub_right" ng-click='close()'>关闭</button>
		</div>
	</div>
</div>